
main {
  padding: 30px 40px;
  display: flex;  
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  text-align: center;
}

h2 {
  color: #2563eb;
  text-align: center;
}