
html { 
  font-size: 14px; 
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  font-size: 0.95rem; 
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}